## Dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. We've made a few modifications from the original dataset that was uploaded to Kaggle:

- We sampled 50,000 data points from the full dataset, to ensure your code runs quickly in our hosted environment
- We dirtied the dataset a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)


### The data dictionary provided with data is as follows:

- dateCrawled - When this ad was first crawled. All field-values are taken from this date.
- name - Name of the car.
- seller - Whether the seller is private or a dealer.
- offerType - The type of listing
- price - The price on the ad to sell the car.
- abtest - Whether the listing is included in an A/B test.
- vehicleType - The vehicle Type.
- yearOfRegistration - The year in which the car was first registered.
- gearbox - The transmission type.
- powerPS - The power of the car in PS.
- model - The car model name.
- kilometer - How many kilometers the car has driven.
- monthOfRegistration - The month in which the car was first registered.
- fuelType - What type of fuel the car uses.
- brand - The brand of the car.
- notRepairedDamage - If the car has a damage which is not yet repaired.
- dateCreated - The date on which the eBay listing was created.
- nrOfPictures - The number of pictures in the ad.
- postalCode - The postal code for the location of the vehicle.
- lastSeenOnline - When the crawler saw this ad last online.

### Importing the data and loading Pandas + Numpy

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv("autos.csv", encoding = "Windows-1252")

### Explore the data with .info()

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

### There are five columns with null values:

In [3]:
list(autos.columns[autos.isnull().any()]) # Columns with null values

['vehicleType', 'gearbox', 'model', 'fuelType', 'notRepairedDamage']

### Observation: Name is separated by the underscore. nrOfPictures has 0 values.

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Renaming the column names from camelcase to snakecase (Python convention)

In [5]:
autos.rename(columns = {
    "dateCrawled":"date_crawled",
    "offerType":"offer_type",
    "vehicleType":"vehicle_type",
    "yearOfRegistration": "registration_year",
    "monthOfRegistration" : "registration_month",
    "notRepairedDamage" : "unrepaired_damage",
    "dateCreated" : "ad_created",
    "nrOfPictures": "nr_of_pictures",
    "postalCode" : "postal_code",
    "lastSeen" : "last_seen",
    "powerPS" : "power_ps",
    "fuelType": "fuel_type"
    }, inplace=True)

autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

### Let's find columns that have similar values

In [6]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-22 09:51:06,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [7]:
print(autos.seller.value_counts())
print("\n")
print(autos.offer_type.value_counts())

privat        49999
gewerblich        1
Name: seller, dtype: int64


Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

### Cleaning the price and odometer column and changing to integer

In [8]:
autos.price = autos.price.str.replace("$","").str.replace(",","").astype(int)
autos.odometer = autos.odometer.str.replace(",","").str.replace("km","").astype(int)

### Renaming the odometer column to include km

In [9]:
autos.rename(columns = {"odometer":"odometer_km"}, inplace=True)

### Identifying lower outliers in price

In [10]:
autos.price.value_counts().sort_index().head(10)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
Name: price, dtype: int64

### Removing prices of zero dollars (1 dollar could be a legitimate bid)

In [11]:
autos = autos[autos.price > 0]
autos.price.value_counts().sort_index().head(10)

1     156
2       3
3       1
5       2
8       1
9       1
10      7
11      2
12      3
13      2
Name: price, dtype: int64

### Identifying upper outliers in price

In [12]:
autos.price.value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

### Removing prices above 350,000 dollars

In [13]:
autos = autos[autos.price < 351000]

# An alternative would be 
# autos = autos[autos.price.between(1,351000)]

autos.price.describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

### Let's now move on to the date columns and understand the date range the data covers.

In [14]:
print(autos.date_crawled.str[:10].value_counts(normalize=True, dropna=False).sort_index().head(5))
autos.date_crawled.str[:10].value_counts(normalize=True, dropna=False).sort_index().tail(5)

2016-03-05    0.025327
2016-03-06    0.014043
2016-03-07    0.036014
2016-03-08    0.033296
2016-03-09    0.033090
Name: date_crawled, dtype: float64

2016-04-03    0.038608
2016-04-04    0.036487
2016-04-05    0.013096
2016-04-06    0.003171
2016-04-07    0.001400
Name: date_crawled, dtype: float64

The date_crawled is from March 5th 2016 to April 7th 2016

In [15]:
print(autos.last_seen.str[:10].value_counts(normalize=True, dropna=False).sort_index().head(5))
autos.last_seen.str[:10].value_counts(normalize=True, dropna=False).sort_index().tail(5)

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
Name: last_seen, dtype: float64

2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

The last_seen is from March 5th 2016 to April 7th 2016. Same as date_crawled, since they are both web scraped.

In [16]:
print(autos.ad_created.str[:10].value_counts(normalize=True, dropna=False).sort_index().head(5))
autos.ad_created.str[:10].value_counts(normalize=True, dropna=False).sort_index().tail(5)

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
Name: ad_created, dtype: float64

2016-04-03    0.038855
2016-04-04    0.036858
2016-04-05    0.011819
2016-04-06    0.003253
2016-04-07    0.001256
Name: ad_created, dtype: float64

The ad_created is from June 11 2015 to April 7 2016. It goes back further to the first ad creation for this sample data.

### Exploring the registration_year column and removing rows if necessary

In [17]:
autos.registration_year.value_counts().sort_index()

1000       1
1001       1
1111       1
1800       2
1910       5
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       4
1957       2
1958       4
1959       6
1960      23
1961       6
1962       4
1963       8
1964      12
        ...
2000    3156
2001    2636
2002    2486
2003    2699
2004    2703
2005    2936
2006    2670
2007    2277
2008    2215
2009    2085
2010    1589
2011    1623
2012    1310
2013     803
2014     663
2015     392
2016    1220
2017    1392
2018     470
2019       2
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       1
9999       3
Name: registration_year, Length: 95, dtype: int64

### Percentage of registration_year that is before 1900 and after 2016 (last_seen was 2016 so unlikely we can have a registration_year above this)

In [18]:
(~autos.registration_year.between(1900,2016)).sum() / autos.shape[0] * 100

3.8793369710697

### Removing rows where the registration year is NOT between 1900 and 2016

In [19]:
autos = autos[autos.registration_year.between(1900,2016)]

In [20]:
autos.registration_year.value_counts(normalize=True).head(10)

2000    0.067608
2005    0.062895
1999    0.062060
2004    0.057904
2003    0.057818
2006    0.057197
2001    0.056468
2002    0.053255
1998    0.050620
2007    0.048778
Name: registration_year, dtype: float64

### Observation: Most of the registration_year is within the last 20 years

### Let's look at the auto brands

In [21]:
autos.brand.value_counts()

volkswagen        9862
bmw               5137
opel              5022
mercedes_benz     4503
audi              4041
ford              3263
renault           2201
peugeot           1393
fiat              1197
seat               853
skoda              766
nissan             713
mazda              709
smart              661
citroen            654
toyota             593
hyundai            468
sonstige_autos     458
volvo              427
mini               409
mitsubishi         384
honda              366
kia                330
alfa_romeo         310
porsche            286
suzuki             277
chevrolet          266
chrysler           164
dacia              123
daihatsu           117
jeep               106
subaru             100
land_rover          98
saab                77
jaguar              73
daewoo              70
trabant             65
rover               62
lancia              50
lada                27
Name: brand, dtype: int64

### Observation: Top 5 of the most common brands are German

### Average prices of the top 5 brands

In [22]:
brand_counts = autos.brand.value_counts()
common_brands = brand_counts[:6].index


brand_dict = {}

for c in common_brands:
    selected_rows = autos[autos.brand == c]
    avg_price = selected_rows.price.mean()
    brand_dict[c] = round(avg_price)
    
brand_dict

{'volkswagen': 5402,
 'bmw': 8333,
 'opel': 2975,
 'mercedes_benz': 8628,
 'audi': 9337,
 'ford': 3749}

### Turning our dictionary into a series using the Series constructor

In [23]:
bmp_series = pd.Series(brand_dict)
bmp_series

volkswagen       5402
bmw              8333
opel             2975
mercedes_benz    8628
audi             9337
ford             3749
dtype: int64

### Turning our series into a dataframe using the DataFrame constructor

In [24]:
df = pd.DataFrame(bmp_series, columns=["mean_price"])

df

               mean_price
volkswagen           5402
bmw                  8333
opel                 2975
mercedes_benz        8628
audi                 9337
ford                 3749

### Adding a mean_odometer column to our dataframe

In [25]:
odometer_dict = {}

for c in common_brands:
    selected_rows = autos[autos.brand == c]
    avg_odometer = selected_rows.odometer_km.mean()
    odometer_dict[c] = round(avg_odometer)
    
odometer_dict

odometer_series = pd.Series(odometer_dict)

odometer_series

df["mean_odometer"] = odometer_series # The good thing about pandas dataframes is that it's always a left join

df

               mean_price  mean_odometer
volkswagen           5402         128707
bmw                  8333         132573
opel                 2975         129310
mercedes_benz        8628         130788
audi                 9337         129157
ford                 3749         124266

### Identify values which are German and translate them to English (2 examples)

In [26]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [27]:
autos.offer_type.value_counts()

Angebot    46681
Name: offer_type, dtype: int64

In [28]:
offer_type_map = {"Angebot":"Offer"}

autos.offer_type = autos.offer_type.map(offer_type_map)

autos.offer_type.value_counts()

Offer    46681
Name: offer_type, dtype: int64

In [29]:
autos.unrepaired_damage.value_counts()

nein    33834
ja       4540
Name: unrepaired_damage, dtype: int64

In [30]:
unrepaired_damage_map = {"nein": "no", "ja": "yes"}

autos.unrepaired_damage = autos.unrepaired_damage.map(unrepaired_damage_map)

autos.unrepaired_damage.value_counts()

no     33834
yes     4540
Name: unrepaired_damage, dtype: int64

### Convert a date column into datetime format

In [59]:
autos.last_seen = pd.to_datetime(autos.last_seen)

autos.last_seen.value_counts().index.month.unique() # Shows the months in the series

Int64Index([4, 3], dtype='int64')

In [61]:
autos.last_seen.dt.month # If we want to convert the data into just months

In [63]:
autos.last_seen.dt.date # If we want to convet the data into just dates